<div class="col-md-12 d-flex justify-content-center mb-3">
  <abrir-modal-red-social (obtenerRedSocial)="agregarRedSocial($event)"></abrir-modal-red-social>
</div>
<div class="col-md-12">
  <table class="table table-hover table-sm">
    <thead>
      <th scope="col">Perfil</th>
      <th scope="col">Tipo Red Social</th>
      <th scope="col">Icono</th>
      <th scope="col" class="text-center"></th>
    </thead>
    <tbody *ngIf="(listadoRedSocial.length == 0)">
      <tr>
        <td rowspan="1" colspan="4" class="text-center"><h5>No tiene redes sociales</h5></td>
      </tr>
    </tbody>
    <tbody *ngIf="(listadoRedSocial.length > 0)">
      <tr *ngFor="let redsocial of listadoRedSocial; let i = index">
        <td scope="col"><a href="{{redsocial.perfil}}" target="_blank">{{redsocial.perfil}}</a></td>
        <td scope="col">{{redsocial.tipo_red_social}}</td>
        <td scope="col">
            <button class="btn btn-sm btn-light" ><i class="{{redsocial.icono_class}}"></i></button>
        </td>
        <td scope="col" class="text-center"><borrar-red-social-component (borrarRedSocial)="borrar(i,$event)" ></borrar-red-social-component></td>
      </tr>
    </tbody>
  </table>
</div>
