body {
  overflow: hidden;
  background-color: #eeeeee;
}
.app-container {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  top:66px;
  height: 90%;
}
.container-fluid {
  margin-bottom: 1rem;
}
.texto-responsive {
  overflow-wrap: break-word;
}
