<fieldset [formGroup]="contacto">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="telefono">Tel&eacute;fono:</label>
      <input type="text" id="telefono" formControlName="telefono" placeholder="Ej.: (2920) 465362" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="celular">Celular:</label>
      <input type="text" id="celular" formControlName="celular" placeholder="Ej.: (2920) 654376" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="email">Correo electr&oacute;nico:</label>
      <input type="text" id="email" formControlName="email" placeholder="Ej.: micorreo@gmail.com" class="form-control">
    </div>
  </div>
  <lista-red-social [redesSociales]="listaRedSocial" [mostrarBotones]="true"></lista-red-social>
</fieldset>
