<fieldset>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="telefono">Tel&eacute;fono:</label>
      <input type="text" id="telefono" placeholder="Ej.: 23456367" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="celular">Celular:</label>
      <input type="text" id="celular" placeholder="Ej.: Raul" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="email">Correo electr&oacute;nico:</label>
      <input type="text" id="email" placeholder="Ej.: Pérez" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mb-3">
      <!-- <button type="button" class="btn btn-md btn-outline-success" >
        Abrir Formulario de Red Social
      </button> -->
      <abrir-modal-red-social></abrir-modal-red-social>
    </div>
    <!-- <div class="col-md-12">
      <formulario-red-social></formulario-red-social>
    </div> -->
    <div class="col-md-12 bg-white">
      <lista-red-social></lista-red-social>
    </div>
  </div>
</fieldset>
