<fieldset [formGroup]="lugar">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="localidad">Localidad <i class="fas fa-asterisk text-danger"></i>:</label>
      <select class="form-control" id="localidad" formControlName="localidadid" [ngClass]="{'is-invalid': (lugar.get('localidadid').invalid && submited)}">
        <option value="">Seleccione Localidad</option>
        <option *ngFor="let localidad of listaLocalidades" value="{{localidad.id}}">{{localidad.nombre}}</option>
    </select>
    </div>
    <div class="form-group col-md-4">
      <label for="calle">Calle <i class="fas fa-asterisk text-danger"></i>:</label>
      <input type="text" id="calle" formControlName="calle" placeholder="Ej.: Los pilates" class="form-control" [ngClass]="{'is-invalid': (lugar.get('calle').invalid && submited)}">
    </div>
    <div class="form-group col-md-4">
      <label for="numero">N&uacute;mero <i class="fas fa-asterisk text-danger"></i>:</label>
      <input type="text" id="numero" formControlName="altura" placeholder="Ej.: 315" class="form-control" [ngClass]="{'is-invalid': (lugar.get('altura').invalid && submited)}">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="barrio">Barrio <i class="fas fa-asterisk text-danger"></i>:</label>
      <input type="text" id="barrio" formControlName="barrio" placeholder="Ej.: Castello" class="form-control" [ngClass]="{'is-invalid': (lugar.get('barrio').invalid && submited)}">
    </div>
  </div>
</fieldset>
