<fieldset>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="nro_documento">Nro Documento:</label>
      <input type="text" id="nro_documento" placeholder="Ej.: 23456367" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" placeholder="Ej.: Raul" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" placeholder="Ej.: Pérez" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="cant_hijos">Cantidad de hijos:</label>
      <input type="text" id="cant_hijos" placeholder="Ej.: 5" class="form-control">
    </div>
    <div class="form-group col-md-8">
      <label for="edades">Edades:</label>
      <input type="text" id="edades" placeholder="Ej.: 13, 16, 25" class="form-control">
    </div>
  </div>
</fieldset>
