<ng-template #ayudaTipo>
  <b>Tipo red social</b>
 </ng-template>
<ng-template #ayudaPerfil>
<b>Perfil o URL:</b>
<br>Ingrese nombre de perfil sin espacios.
<br>Utilice . o - para separar.
<br>Copie y pegue la URL del perfil.
<br>La url debe de coincidir con el tipo de red social.
<br>Ej: https://wwww.facebook.com/roberto.fernandez o roberto.fernandez
</ng-template>
<fieldset [formGroup]="redSocialForm">
  <div class="row">
    <div class="form-group col-md-12">
      <label for="tipo_red_social">Tipo Red Social:</label>
      <select class="form-control" id="tipo_red_social" formControlName="tipo_red_socialid" [ngClass]="{'is-invalid': (redSocialForm.get('tipo_red_socialid').invalid && submitted)}" [ngbTooltip]="ayudaTipo" placement="top" container="body"> <!--   -->
        <option value="">Seleccione tipo de red social</option>
        <option *ngFor="let tipoRedSocial of tipoRedSocialLista" value="{{tipoRedSocial.id}}" >{{tipoRedSocial.nombre}}</option>
      </select>
      <div *ngIf="(redSocialForm.get('tipo_red_socialid').invalid && submitted)"
          class="text-danger">
        <div *ngIf="redSocialForm.get('tipo_red_socialid').hasError('required')">Por favor Seleccione tipo de red social. </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="perfil">Perfil: <i class="far fa-question-circle" style="color:cornflowerblue;" triggers="click" [autoClose]="true" [ngbTooltip]="ayudaPerfil" placement="right" container="body" #ayuda (click)="ayuda.open()" ></i> </label>
      <input type="text" class="form-control" id="perfil" formControlName="perfil"  placeholder="Ej: https://wwww.facebook.com/roberto.fernandez o roberto.fernandez" [ngClass]="{'is-invalid': (redSocialForm.get('perfil').invalid && submitted)}" (keyup)="noEspacios($event.target)" >
      <div *ngIf="(redSocialForm.get('perfil').invalid && submitted)"
          class="text-danger">
        <div *ngIf="redSocialForm.get('perfil').hasError('required')">Por favor escriba un perfil. </div>
      </div>
    </div>
  </div>
</fieldset>

<hr class="pt1">

<div class="float-right mb-3">
  <button type="button" class="btn btn-danger mr-1" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>
  <button type="button" class="btn btn-success" (click)="validar()"><i class="fa fa-plus" title="Agregar"></i> Agregar</button>
</div>
