<div class="bp-centro">
  <div class="bp-border bg-white bp-shadow">
    <h3>Buscar persona</h3>
    <fieldset [formGroup]="buscarForm">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Ingrese número de documento" formControlName="nro_documento">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" (click)="buscarPersona()"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <!-- <div class="alert alert-danger bp-shadow">
      <i class="far fa-times-circle"></i> Esta persona ya ha sido registrada.
    </div> -->
    <button type="button" class="btn btn-primary btn-block bp-shadow" (click)="registrarPersona()">Registrar</button>
  </div>
</div>
