<div class="app-login">
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <div class="col-12 text-programa">
          <h3>RN Nutre</h3>
        </div>
        <form [formGroup]="loginForm" class="col-12">
          <div class="form-group" id="user-group">
            <input type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario">
          </div>
          <div class="form-group" id="pass-group">
            <input type="password" class="form-control" formControlName="password" (keyup.enter)="ingresar()" placeholder="Contraseña">
          </div>
          <div class="text-danger mb-3">
            <span *ngIf="(huboError)">{{mensaje}}</span>
          </div>
          <button type="button" class="btn btn-primary form-control" (click)="ingresar()"><i class="fas fa-sign-in-alt" ></i> Ingresar</button>
        </form>
        <a class="no-link" [routerLink]="['/']" alt="RN Desarrollo humano y articulación solidaria">
          <div class="col-12 d-flex justify-content-between logo-img">
            <img src="../../assets/img/logoRN.svg" alt="Río Negro">
            <span class="text-uppercase">DESARROLLO HUMANO Y ARTICULACIÓN SOLIDARIA</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
