<div class="app-login">
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <div class="col-12 text-programa">
          <h3>RN Nutre</h3>
        </div>
        <form [formGroup]="loginForm" class="col-12">
          <div class="form-group" id="user-group">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': (msjUsuario != '' && loginForm.get('username').invalid)}" formControlName="username" placeholder="Nombre de usuario">
          </div>
          <div class="form-group" id="pass-group">
            <input type="password" class="form-control" [ngClass]="{'is-invalid': (msjPass != '' && loginForm.get('password').invalid)}" formControlName="password" placeholder="Contraseña">
          </div>
          <div class="text-danger mb-3">
              <span *ngIf="loginForm.get('username').hasError('required')">{{msjUsuario}}</span>
              <span *ngIf="loginForm.get('password').hasError('required')">{{msjPass}}</span>
          </div>
          <button type="button" class="btn btn-primary form-control" (click)="ingresar()"><i class="fas fa-sign-in-alt" ></i> Ingresar</button>
        </form>
        <div class="col-12 d-flex justify-content-between logo-img">
          <img src="../../assets/img/logoRN.svg" alt="Río Negro">
          <span class="text-uppercase">DESARROLLO HUMANO Y ARTICULACIÓN SOLIDARIA</span>
        </div>
      </div>
    </div>
  </div>
</div>
