<div class="col-md-12">
  <table class="table table-hover table-sm">
    <thead>
      <th scope="col">Nro. Documento</th>
      <th scope="col" colspan="2">Apellido y Nombre</th>
      <th scope="col"></th>
      <th scope="col">Localidad</th>
      <th scope="col">Barrio</th>
      <th scope="col">Cantidad de hijo/s (edad/es)</th>
      <th scope="col" class="text-center"></th>
    </thead>
    <tbody *ngIf="(listadoBeneficiario.length == 0)">
      <tr>
        <td rowspan="1" colspan="7" class="text-center"><h5>No se han encontrado beneficiarios</h5></td>
      </tr>
    </tbody>
    <tbody *ngIf="(listadoBeneficiario.length > 0)">
      <tr *ngFor="let beneficiario of listadoBeneficiario">
        <td scope="col">{{beneficiario.persona.nro_documento}}</td>
        <td scope="col" colspan="2">{{beneficiario.persona.apellido}}, {{beneficiario.persona.nombre}}</td>
        <td scope="col">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary btn-sm" tooltipClass="tooltip-inner" ngbTooltip="{{getDireccion(beneficiario.persona.lugar)}}" container="body"><i class="fa fa-home"></i></button>
            <button *ngIf="(beneficiario.persona.telefono != '')" type="button" class="btn btn-outline-secondary btn-sm" ngbTooltip="{{beneficiario.persona.telefono}}" container="body"><i class="fa fa-phone"></i></button>
            <button *ngIf="(beneficiario.persona.celular != '')" type="button" class="btn btn-outline-secondary btn-sm"><i class="fas fa-mobile-alt" ngbTooltip="{{beneficiario.persona.celular}}" container="body"></i></button>
            <button *ngIf="(beneficiario.persona.email != '')" type="button" class="btn btn-outline-secondary btn-sm" ngbTooltip="{{beneficiario.persona.email}}" container="body"><i class="far fa-envelope"></i></button>
            <a *ngFor="let redSocial of beneficiario.persona.lista_red_social" href="{{redSocial.perfil}}" target="_blank" class="btn btn-outline-secondary btn-sm" ngbTooltip="Click para ir a perfil" container="body"><i class="{{redSocial.icono_class}}"></i></a>
          </div>
        </td>
        <td scope="col">{{beneficiario.persona.lugar.localidad}}</td>
        <td scope="col">{{beneficiario.persona.lugar.barrio}}</td>
        <td scope="col">{{beneficiario.cantidad_hijo}} hijo/s (Edad/es: {{beneficiario.edad_por_hijo}})</td>
        <td scope="col">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-alt"></i></button>
            <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" class="btn btn-outline-success btn-sm"><i class="far fa-credit-card"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
