<nav class="navbar navbar-expand-md navbar-pril fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span>
    </button>
  <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/img/logoRN.svg" width="60" height="40" alt="Desarrollo humano y articulación solidaria">
  </a>
  <!-- <a class="navbar-brand" href="#">PRIL</a> -->
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
      <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
              <a class="nav-link" [routerLink]="['destinatario']"><i class="fas fa-male"></i> Destinatario</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
              <a class="nav-link" [routerLink]="['ambiente']"><i class="far fa-building"></i> Ambiente de trabajo</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
              <a class="nav-link" [routerLink]="['area-entrenamiento']"><i class="fas fa-people-carry"></i> Área de entrenamiento</a>
          </li>
      </ul> -->
      <!-- <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['login']" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
          </li>
      </ul> -->
  </div>
</nav>
