<nav class="navbar navbar-expand-md bg-ds fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse" [ngClass]="{'active': !isCollapsed}" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
  <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/img/logoRN.svg" width="60" height="40" alt="Desarrollo humano y articulación solidaria"> <span>NUTRE</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto" *ngIf="estoyLogueado">
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed;">
        <a class="nav-link" [routerLink]="['/buscar-persona']" ><i class="fas fa-search"></i> Buscar persona</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed;">
        <a class="nav-link" [routerLink]="['/beneficiario']" ><i class="fas fa-users"></i> Beneficiarios</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-md-flex" *ngIf="!estoyLogueado">
      <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link" [routerLink]="['/login']">
          <i class="fas fa-sign-in-alt"></i> Iniciar Sesion</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-md-flex" *ngIf="estoyLogueado">
      <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
          <button class="btn btn-outline-primary-dp btn-margin-dropdown" id="dropdownBasic1" ngbDropdownToggle [ngClass]="{'btn-dropdown-menu': isCollapsed}" ><i class="fas fa-user-tie"></i> {{nombreUsuario}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" [ngClass]="{'btn-dropdown-submenu': isCollapsed}">
              <li class="dropdown-item"><a class="nav-link" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
          </div>
      </div>
      </ul>
  </div>
</nav>
