.btn-outline-primary-dp {
  color: #036954;
  background-color: transparent;
  background-image: none;
  border: 0px;
  &:hover {
    color: #ccff99 !important;
  }
}
.btn-margin-dropdown {
  margin-left: 5px;
  margin-top: 2px;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.dropdown-menu {
  background: #8cc63f;
  /* .show {
    right: 0 !important;
  } */
}
.dropdown-item {
  color: #ccff99 !important;
  .active{
    a {
      color: #ccff99;
      &:hover {
        color: #fff;
        box-shadow: none !important;
      }
    }
  }
  .nav-link {
    padding: 0
  }
  &:hover {
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none !important;
  }
}
.navbar-header {
  a {
    span {
      color: #fff;
      display: block;
    }
  }
}
button.navbar-toggler {
  span {
    color: #fff;
  }
}
.li-style {
  border-bottom: 1px ;
  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    z-index: 10;
  }
}
.show {
  .nav-item {
    a {
      padding-left: 10px !important;
    }
  }
}
.btn-dropdown-menu {
  color: #036954;
  border: none;
  &:hover{
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ccff99 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
}
.btn-dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  .btn-dropdown-submenu {
    position: relative;
    color: #ccff99;
  }
}
.background-menu {
  background: #8cb63f !important;
}
.background-submenu {
  background: #8ca63f !important;
}
